{# partially from https://www.howtoforge.com/linux_ldap_authentication #}
include         /etc/openldap/schema/core.schema
include         /etc/openldap/schema/cosine.schema
include         /etc/openldap/schema/inetorgperson.schema
include         /etc/openldap/schema/nis.schema
allow bind_v2

pidfile         /var/run/openldap/slapd.pid
argsfile        /var/run/openldap/slapd.args

modulepath      /usr/lib/openldap/openldap

access to attrs=userPassword
        by dn="uid=root,ou=People,{{base}}" write
        by dn="cn=Manager,{{base}}" write
        by anonymous auth
        by self write
        by * none

access to dn.base="" by * read

access to *
         by dn="cn=Manager,{{base}}" write
         by * read

database        bdb

suffix          "{{base}}"
rootdn          "cn=Manager,{{base}}"
rootpw          {{ root_pw }}

directory       /var/lib/openldap-data
index   objectClass     eq



